/* Fonts */
@font-face {
    font-family: "Exo2";
    src: local("Exo2"), url("../../fonts/Exo2-VariableFont_wght.ttf") format("truetype");
  }
  @font-face {
    font-family: "Exo2-italic";
    src: local("Exo2-italic"), url("../../fonts/Exo2-Italic-VariableFont_wght.ttf") format("truetype");
  }

h2{
    font-family: Exo2;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1;
    color: $color-primary;
    &.heading-secondary{
        text-transform: uppercase;
        color: $color-secondary;
    }
    
    &.heading-primary{
        text-transform: uppercase;
        color: $color-primary;
    }
}
h2{
    font-weight: 600;
    font-size: 1.5rem;
}
