/* Fonts */
@font-face {
  font-family: "Exo2";
  src: local("Exo2"),
    url("../../fonts/Exo2-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Exo2-italic";
  src: local("Exo2-italic"),
    url("../../fonts/Exo2-Italic-VariableFont_wght.ttf") format("truetype");
}
p {
  font-family: Exo2;
  font-size: 1rem;
  color: $color-grey;
}
h2 {
  font-family: Exo2;
  font-weight: 600;
  font-size: 1.5rem;
  color: $color-primary;
  &.heading-secondary {
    text-transform: uppercase;
    color: $color-secondary;
  }

  &.heading-primary {
    text-transform: uppercase;
    color: $color-primary;
  }
}
h3 {
  font-family: Exo2;
  font-weight: 500;
  font-size: 1.25rem;
  color: $color-primary;
  &.secondary {
    text-transform: uppercase;
    color: $color-secondary;
  }

  &.primary {
    text-transform: uppercase;
    color: $color-primary;
  }
}
