@import "../../assets/sass/main.scss";

.sidebar{
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 20rem;
    padding: 2rem;
    background-color: $color-primary;
    .logo{
        width: 5rem;
        height: 5rem;
    }
}


