.row{
    display:flex;
    flex-flow: row;
    height: 100%;
    width: 100%;
}

.col{
    display:flex;
    flex-flow: column;
    &.justify-content--center{
        justify-content: center;
    }
}