.sidebar {
  height: 100vh;
  max-width: 20rem;
  padding: 1rem;
  background-color: $color-primary;
  display: flex;
  flex-flow: column;
  &-header {
    align-self: center;
    &--logo {
      width: 5rem;
      height: 5rem;
    }
  }

  &-body {
    align-content: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    flex-grow: 100;
    button {
      padding: 1rem 0.5rem 1rem 0.5rem;
      width: 100%;
      background-color: $color-primary;
      border: none;
      border-radius: 10px;
      transition: all 0.2s ease;
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      &:hover {
        transform: translateY(-0.4rem);
        background-color: $color-quaternary;
        cursor: pointer;
        h2 {
          color: $color-primary;
        }
      }
      &:active {
        transition: all 0.1s ease;
        box-shadow: 0 1rem 1rem rgba($color: $color-primary, $alpha: 0.15);
        transform: translateY(0);
      }
      &.active {
        h2 {
          color: $color-white;
        }
      }
    }
  }

  &-footer {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    border-top: solid $color-quaternary;
    .image {
      cursor: pointer;
    }
  }
}
