@keyframes moveShadow {
  0% {
    box-shadow: 0px 0px 0 0 red;
  }

  50% {
    box-shadow: 0px 0px 10px 10px blue;
  }

  100% {
    box-shadow: 0px 0px 10px 10px red;
  }
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  &-login {
    display: flex;
    flex-flow: column;
    padding: 3rem 2rem 3rem 2rem;
    margin-top: 2rem;
    position: relative;
    width: 100%;
    max-width: 35rem;
    min-height: 17rem;
    box-shadow: 1rem 1rem $color-terciary;
    background-color: $color-primary--lighter;
    justify-content: space-between;
    // align-items: center;

    &--body {
      display: flex;
      flex-flow: column;
      flex-grow: 11;
      justify-content: center;
      padding: 0rem 8rem 2rem 8rem;
      input {
        font-size: 14px;
        border-radius: 6px;
        line-height: 1.5;
        padding: 5px 10px;
        transition: box-shadow 100ms ease-in, border 100ms ease-in,
          background-color 100ms ease-in;
        border: 2px solid $color-quaternary;
        color: $color-primary;
        background: $color-quaternary;
        display: block;
        height: 36px;
        &:hover {
          border-color: #ccc;
        }
        &:focus {
          border-color: $color-secondary;
          background: #fff;
        }
      }

      input:not(:first-child) {
        margin-top: 2rem;
      }
    }

    &--footer {
      width: 100%;
      flex-grow: 1;
      padding: 1rem 2rem 1rem 2rem;
      display: flex;
      flex-flow: row;
      justify-content: space-around;
    }

    &--info {
      display: flex;
      flex-flow: column;
      justify-content: space-around;

      &--text-body {
        margin-bottom: 4rem;

        h1 {
          color: $color-grey;
        }
      }
    }
    @keyframes glowing {
      0% {
        background-position: 0 0;
      }
      50% {
        background-position: 600%;
      }
      100% {
        background-position: 0 0;
      }
    }
    //Button ANimation
    .glow-on-hover {
      width: 160px;
      height: 50px;
      border: none;
      outline: none;
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 10px;
      transition: transform 0.2s ease;

      &:before {
        content: "";
        background: linear-gradient(
          45deg,
          $color-secondary,
          $color-quaternary,
          $color-secondary
        );
        position: absolute;
        top: -5px;
        left: -5px;
        background-size: 600%;
        z-index: -1;
        filter: blur(10px);
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        border-radius: 10px;
      }

      &:hover {
        background: transparent;
        transform: scale(1.1);
        // h3 {
        //   color: $color-primary;
        // }

        &::before {
          opacity: 1;
        }
      }

      &:hover::after {
        transition: all 0.2s ease;
        // background: linear-gradient(90deg, $portfolio--color-secondary, $portfolio--color-quaternary);
        // border: none;
        // color: $color-primary;
      }

      &:active {
        background: transparent;
        transform: scale(1);
      }

      &:after {
        z-index: -1;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border: solid $color-quaternary 2px;
        background: $color-terciary;
        left: 0;
        top: 0;
        border-radius: 10px;
      }
    }
  }
}
