//Colors

// Space Traders
$color-primary: #1a1719;
$color-primary--lighter: #3a3337;
$color-primary--light: #ede6eb;
$color-secondary: #34c25a;
$color-terciary: #308971;
$color-quaternary: #c4c2c3;

//General Colors
$color-black: #0b0c10;
$color-black--light: #1f2833;
$color-grey: #c5c6c7;
$color-blue--light: #66fcf1;
$color-blue--dark: #f79824;
$color-white: #ffffffff;
