//Colors

//Portfolio
$portfolio--color-primary: #0b0c10;
$portfolio--color-primary--light: #393f45;
$portfolio--color-secondary: #29abe2;
$portfolio--color-terciary: #1f2833;
$portfolio--color-quaternary: #f79824;
$portfolio--color-quintenary: #c71db6;


// Space Traders
$space-traders--color-primary: #1A1719;
$space-traders--color-primary--light: #EDE6EB;
$space-traders--color-secondary: #34C25A;
$space-traders--color-terciary: #308971;
$space-traders--color-quaternary: #C4C2C3;


//General Colors
$color-black: #0b0c10;
$color-black--light: #1f2833;
$color-grey: #c5c6c7;
$color-blue--light: #66fcf1;
$color-blue--dark: #f79824;
$color-white: #ffffffff;


