//Colors
$color-primary: #0b0c10;
$color-primary--light: #393f45;
// $color-secondary: #66fcf1;
$color-secondary: #29abe2;
$color-terciary: #1f2833;
$color-quaternary: #45a29e;
$color-white: #ffffffff;

$color-black: #0b0c10;
$color-black--light: #1f2833;
$color-grey: #c5c6c7;
$color-blue--light: #66fcf1;
$color-blue--dark: #45a29e;
